[Unit]
Description=Stardust Client Autorun
After=stardust.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/stardustautorun

[Install]
WantedBy=multi-user.target