[Desktop Entry]
Type=Application
Icon=folder
Name=Set Andromeda wallpaper
Exec=/usr/local/lib/andromeda/change-wallpaper.sh
Terminal=false
Hidden=false
